# Ignoring Boss .lock file (keep always up to date with main dependencies)
boss-lock.json
modules/

# Ignoring Delphi local files
*.local
*.identcache

# Ignore compiled and __history files
Win32/
__history/
